<!DOCTYPE html>
<html>
	<head>
		<meta content = "text/html; charset = utf-8" http-equiv = "Content-Type">
		<meta content = "utf-8" http-equiv = "encoding">
		<link rel = "stylesheet" href = "/style/zeltron.css">
		<title>Login</title>
	</head>
	<body background = '/pictures/background.jpg'>
		<center>
			<div class="row">
				<img src="/pictures/logo.png" alt="zeoxy logo" class="logo">
			</div>
			<div class="quote-text-box">
			<table>
				<h1>Login</h1>
				<form action = '/logininfo' method = 'post'>
					<tr>
						<td>
							<input type = 'text' name = 'username' placeholder = 'Username' class = 'input' required>
						</td>
					</tr>
					<tr>
						<td>
							<input type = 'password' name = 'password' placeholder = 'Password' class = 'input' required>
						</td>
					</tr>
					<tr>
						<td align = 'center'>
							<input type = 'submit' class = 'button button1' value = 'Login'>
						</td>
					</tr>
					<tr>
						<td align = 'center'>
							<font color = 'green'>
								<% if (check == 0) { %>
								<% } else if (check == 1) { %>
									Username or Password not entered or Username and Password length must be greater that 999.
								<% } else if (check == 2) { %>
									Username and/or Password is wrong.
								<% } %>
							</font>
						</td>
					</tr>
				</form>
				<tr>
					<td align = 'center'>
						<form action = '/signup' method = 'get'>
							<input type = 'submit' class = 'button button1' value = 'signup'>
						</form>
					</td>
				</tr>
			</table>
		</div>
		</center>
	</body>
</html>
